@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Fauna+One&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding and reset fonts */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --green-light: hsl(123deg, 47%, 74%);
  --green-dark: #2e7f32;
  --blue-light: hsl(210deg, 47%, 74%);
  --blue-dark: #2e577f;
  --orange-light: hsl(34deg, 93%, 77%);
  --orange-dark: #b66a07;
  --purple-light: hsl(231deg, 44%, 76%);
  --purple-dark: #334084;
  --yellow-light: hsl(54deg, 76%, 79%);
  --yellow-dark: #afa018;
  --brown-light: hsl(20deg, 41%, 69%);
  --brown-dark: #68402c;
  --red-light: hsl(0deg, 59%, 76%);
  --red-dark: #922626;
  --pink-light: hsl(295deg, 42%, 72%);
  --pink-dark: #6e2f74;
  --white-light: hsl(0deg, 0%, 100%);
  --white-dark: #999999;
  --violet-to-blue: linear-gradient(45deg, blueviolet, blue);
  --on-violet-to-blue: #f0f8ff;
}

/*
Orbit by Phelyppe Matheus
Free stuff, but I'd like a shoutout nonetheless
Have a nice day
*/
.orbit-section {
  background: var(--violet-to-blue);
  height: 45.3553390593rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  position: relative;
  padding: 4rem;
}
.orbit-section .about {
  padding: 3rem;
  border-radius: 2rem;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.orbit-section .about .title {
  color: var(--on-violet-to-blue);
  font-family: "Cinzel", serif;
  font-weight: 400;
  font-size: 2.6em;
}
.orbit-section .about .subtitle {
  margin-top: -0.5rem;
  color: var(--on-violet-to-blue);
  font-family: "Cinzel", serif;
  font-size: 1.6em;
  font-weight: 700;
}
.orbit-section .about .text {
  margin-top: 1rem;
  font-family: "Fauna One";
  font-size: 1em;
  color: var(--on-violet-to-blue);
}
.orbit-section .about .text a {
  color: blue;
  background-color: var(--on-violet-to-blue);
  font-weight: bold;
  padding: 0rem 0.6rem 0.2rem;
  margin: 0 0.3rem;
  border-radius: 1rem;
  text-decoration: none;
}
.orbit-section .about .text a:visited {
  color: blueviolet;
}
.orbit-section .about .text a:active {
  background: var(--blue-light);
}
.orbit-section .orbit {
  position: relative;
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
}
.orbit-section .orbit .image-center {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}
.orbit-section .orbit .image-center .user {
  position: absolute;
  height: 10rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: filter 400ms linear;
  border-radius: 50%;
}
.orbit-section .orbit .image-center .user:nth-child(2):hover {
  filter: opacity(0);
}
.orbit-section .orbit .floating-list {
  list-style: none;
}
.orbit-section .orbit .floating-list .floating-item {
  position: absolute;
  height: 5rem;
  aspect-ratio: 1/1;
  display: grid;
  justify-items: center;
  align-items: center;
  transition: all 400ms ease-in-out;
}
.orbit-section .orbit .floating-list .floating-item img {
  padding: 0.5rem;
  width: 5rem;
  transition: all 400ms ease-in-out;
}
.orbit-section .orbit .floating-list .floating-item .description {
  position: relative;
  filter: opacity(0);
  text-align: center;
  font-family: "Cinzel", serif;
  font-size: 0.4em;
  font-weight: 700;
  color: black;
}
.orbit-section .orbit .floating-list .floating-item:nth-child(6) {
  top: 0rem;
  left: 12.5rem;
  transform: translate(-50%, -50%);
}
.orbit-section .orbit .floating-list .floating-item:nth-child(5) {
  top: 6.25rem;
  left: 23.3253175473rem;
  transform: translate(-50%, -50%);
}
.orbit-section .orbit .floating-list .floating-item:nth-child(4) {
  top: 18.75rem;
  left: 23.3253175473rem;
  transform: translate(-50%, -50%);
}
.orbit-section .orbit .floating-list .floating-item:nth-child(3) {
  top: 25rem;
  left: 12.5rem;
  transform: translate(-50%, -50%);
}
.orbit-section .orbit .floating-list .floating-item:nth-child(2) {
  top: 18.75rem;
  left: 1.6746824527rem;
  transform: translate(-50%, -50%);
}
.orbit-section .orbit .floating-list .floating-item:nth-child(1) {
  top: 6.25rem;
  left: 1.6746824527rem;
  transform: translate(-50%, -50%);
}

.orbit-section .orbit:hover {
  animation-play-state: paused;
}
.orbit-section .orbit:hover .image-center .user {
  animation-play-state: paused;
}
.orbit-section .orbit:hover .floating-list .floating-item > * {
  animation-play-state: paused;
}
.orbit-section .orbit:hover .floating-list .floating-item:hover, .orbit-section .orbit:hover .floating-list .floating-item:focus {
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(3);
  box-shadow: 0px 0px 2px #fff inset, 0px 0px 5px #fff inset, 0px 0px 20px #fff inset, 0px 0px 50px #fff inset, 0px 0px 2px #fff, 0px 0px 5px #fff, 0px 0px 15px #fff, 0px 0px 30px #fff, 0px 0px 100px #fff;
}
.orbit-section .orbit:hover .floating-list .floating-item:hover .item, .orbit-section .orbit:hover .floating-list .floating-item:focus .item {
  filter: opacity(0);
  position: absolute;
}
.orbit-section .orbit:hover .floating-list .floating-item:hover .description, .orbit-section .orbit:hover .floating-list .floating-item:focus .description {
  transform: scale(0.0333333333);
  filter: opacity(1);
  display: block;
}

.orbit-section .orbit {
  animation: orbit 15s linear infinite;
}
.orbit-section .orbit .image-center .user {
  animation: anti_orbit 15s linear infinite;
}
.orbit-section .orbit .floating-list .floating-item > * {
  animation: anti_orbit 15s linear infinite;
}

@keyframes anti_orbit {
  from {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}
@keyframes orbit {
  to {
    transform: rotateZ(360deg);
  }
}
@media screen and (max-width: 37.5rem) {
  .orbit-section {
    padding: 2rem;
    justify-content: flex-start;
  }
  .orbit-section .orbit {
    margin-left: -9.5rem;
    place-self: start;
  }
  .orbit-section .orbit .image-center .user {
    border-radius: 0 50% 50% 0;
  }
}
@media screen and (min-width: 1400px) {
  .orbit-section .about {
    border-radius: 4rem 0 0 4rem;
    text-align: right;
  }
}
.intro {
  height: 100vh;
}
.intro .forest {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position-y: bottom;
  background-repeat: repeat no-repeat;
  background-size: auto 135vh;
  background-attachment: fixed;
}
.intro .forest.shadow:nth-child(1) {
  animation: runningThroughTheForest 120s linear infinite, clearFog 2s ease-out;
  background-image: url("/assets/pixel_art_forest/Layer_0009_2.png");
}
.intro .forest.shadow:nth-child(2) {
  animation: runningThroughTheForest 60s linear infinite, clearFog 2s ease-out;
  background-image: url("/assets/pixel_art_forest/Layer_0008_3.png");
}
.intro .forest.shadow:nth-child(3) {
  animation: runningThroughTheForest 40s linear infinite, clearFog 2s ease-out;
  background-image: url("/assets/pixel_art_forest/Layer_0006_4.png"), url("/assets/pixel_art_forest/Layer_0007_Lights.png");
}
.intro .forest.trees {
  animation: runningThroughTheForest 30s linear infinite, clearFog 2s ease-out;
  background-image: url("/assets/pixel_art_forest/Layer_0002_7.png"), url("/assets/pixel_art_forest/Layer_0003_6.png"), url("/assets/pixel_art_forest/Layer_0004_Lights.png"), url("/assets/pixel_art_forest/Layer_0005_5.png");
}
.intro .forest.floor {
  animation: runningThroughTheForest 24s linear infinite, clearFog 2s ease-out;
  background-image: url("/assets/pixel_art_forest/Layer_0000_9.png"), url("/assets/pixel_art_forest/Layer_0001_8.png");
}
.intro .forest.shoutout {
  height: fit-content;
  width: fit-content;
  position: absolute;
  right: 50px;
  bottom: 50px;
}
.intro .forest.shoutout a {
  color: white;
  text-decoration: none;
  font-family: "Cinzel", serif;
  font-weight: bold;
}

@keyframes runningThroughTheForest {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: 157.9823455233vh;
  }
}
@keyframes clearFog {
  from {
    box-shadow: 0px 0px 12in #fff inset;
  }
  to {
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0) inset;
  }
}
